.para-img {
  /* Parallax image. only one so far in header. */
  background-image: url('story-2-images/rock-stack-log.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 800px;
  width: 100%;
}