.para-img {
  /* Parallax image. only one so far in header. */
  background-image: url('story-1-images/sunset-tree.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 800px;
  width: 100%;
}

@media (max-width:1400px) {
  .para-img {
    height: 100%;
  }
}
@media (max-width:800px) {
  .para-img {
    background-image: url('story-1-images/sunset-tree-portrait.jpg');
    background-position: bottom;
  }

  @media (max-width:600px) {
    .para-img {
      height: 100%;
      background-position: center;
    }
  }
}