.para-img {
  /* Parallax image. only one so far in header. */
  background-image: url('story-3-images/me-n-mountains.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 800px;
  width: 100%;
}